@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  max-width: 1600px;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .wrapper {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
}

.block__wrap {
  width: 1600px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    max-width: 940px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}

.btn__fonts-donate {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.arrow-l {
  width: 62px;
  height: 62px;
  background: url(./assets/images/svg/button-pets-l-def.svg) no-repeat center;
}

.arrow-l:active {
  width: 62px;
  height: 62px;
  background: url(./assets/images/svg/button-pets-l-activ.svg) no-repeat center;
}

.arrow-l:hover {
  cursor: pointer;
}

.arrow-r {
  width: 62px;
  height: 62px;
  background: url(./assets/images/svg/button-pets-r-def.svg) no-repeat center;
}

.arrow-r:active {
  width: 62px;
  height: 62px;
  background: url(./assets/images/svg/button-pets-r-activ.svg) no-repeat center;
}

.arrow-r:hover {
  cursor: pointer;
}

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  max-width: 1600px;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .wrapper {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
}

.block__wrap {
  width: 1600px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    max-width: 940px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
}

.btn__fonts-donate {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.arrow-l {
  width: 62px;
  height: 62px;
  background: url(./assets/images/svg/button-pets-l-def.svg) no-repeat center;
}

.arrow-l:active {
  width: 62px;
  height: 62px;
  background: url(./assets/images/svg/button-pets-l-activ.svg) no-repeat center;
}

.arrow-l:hover {
  cursor: pointer;
}

.arrow-r {
  width: 62px;
  height: 62px;
  background: url(./assets/images/svg/button-pets-r-def.svg) no-repeat center;
}

.arrow-r:active {
  width: 62px;
  height: 62px;
  background: url(./assets/images/svg/button-pets-r-activ.svg) no-repeat center;
}

.arrow-r:hover {
  cursor: pointer;
}

.h1__title {
  overflow: hidden;
  height: 0px;
  width: 0px;
  padding: 0;
  border: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: flex-start;
          flex-flow: flex-start;
  background: #000000;
  width: 100%;
  height: 80px;
}

@media (max-width: 1000) {
  .header {
    max-width: 1000px;
  }
}

@media (max-width: 640) {
  .header {
    max-width: 640px;
    max-height: 34px;
  }
}

@media (max-width: 320) {
  .header {
    max-width: 320px;
    max-height: 34px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: flex-start;
          flex-flow: flex-start;
  width: 72.5%;
}

@media (max-width: 1000px) {
  .header__container {
    max-width: 940px;
  }
}

@media (max-width: 640px) {
  .header__container {
    max-width: 600px;
  }
}

@media (max-width: 320px) {
  .header__container {
    max-width: 300px;
  }
}

.container__logo {
  top: 14px;
  margin-right: 63px;
}

@media (max-width: 1000px) {
  .container__logo {
    left: 30px;
  }
}

@media (max-width: 640px) {
  .container__logo {
    left: 20.07;
    top: 2.29px;
  }
}

@media (max-width: 340px) {
  .container__logo {
    left: 20.07;
    top: 2.29px;
  }
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__nav_menu {
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
}

.container__nav_menu-item {
  list-style-type: none;
  margin-right: 58px;
}

.container__nav_menu-item:last-child {
  margin: 0;
}

@media (max-width: 1000px) {
  .container__nav_menu-item {
    margin-right: 48px;
  }
}

@media (max-width: 640px) {
  .container__nav_menu-item {
    display: none;
  }
}

@media (max-width: 320px) {
  .container__nav_menu-item {
    display: none;
  }
}

.container__nav_menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.container__nav_menu-link:active, .container__nav_menu-link:hover, .container__nav_menu-link:focus {
  color: #f9804b;
}

@media (max-width: 320px) {
  .container__nav {
    display: none;
  }
}

.logo {
  width: 82px;
  height: 52px;
  background-image: url(../../assets/images/svg/logo_footer.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 640px) {
  .logo {
    width: 46.93px;
    height: 29.03px;
    background-image: url(../../assets/images/svg/logo_footer.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 46.93px;
    height: 29.03px;
    background-image: url(../../assets/images/svg/logo_footer.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%px;
  background: #111115;
  background: #111115;
  height: 418px;
}

@media (max-width: 1000px) {
  .footer {
    min-height: 443;
  }
}

@media (max-width: 640px) {
  .footer {
    min-height: 282px;
  }
}

@media (max-width: 320px) {
  .footer {
    min-height: 540px;
    max-width: 320px;
  }
}

.footer__container {
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .footer__container {
    max-width: 940px;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .footer__container {
    max-width: 600px;
    margin: 0 auto;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .footer__container {
    max-width: 300px;
    margin: 0 auto;
  }
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__block-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% / 3);
}

.footer__logo {
  left: 0px;
  padding-top: 41px;
  margin-bottom: 68px;
}

.footer__btn {
  margin-bottom: 44px;
}

.footer__btn-donate {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.footer__btn-donate:active {
  background: #4b9200;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.footer__btn-donate:hover {
  opacity: 0.95;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.footer__btn-donate:focus {
  opacity: 1;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.footer__block-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  width: 200px;
  bottom: 25px;
}

.footer__social-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
  padding-left: 40px;
  position: relative;
}

.footer__social-link::before {
  content: '';
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: rgba(196, 196, 196, 0.5);
}

.footer__social-link:hover, .footer__social-link:active, .footer__social-link:focus {
  color: #4b9200;
}

.footer__social-link:hover::before, .footer__social-link:active::before, .footer__social-link:focus::before {
  color: #4b9200;
  content: '';
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: #4b9200;
}

.footer__social-link.facebook::before {
  content: '';
  background-image: url(../../assets/images/icons/facebook-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

.footer__social-link.twitter::before {
  background-image: url(../../assets/images/icons/twitter-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

.footer__social-link.instagram::before {
  background-image: url(../../assets/images/icons/instagram-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

.footer__social-link.youtube::before {
  background-image: url(../../assets/images/icons/youtube-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

.footer__block-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 3);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  align-items: flex-end;
}

.footer__block-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% / 3);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__submit {
  padding-top: 40px;
}

.footer__form-email {
  width: 367px;
}

.footer__subscribe-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 120%;
  color: #fff;
}

.footer__input-email {
  width: 228px;
  height: 42px;
  border: 0.7px solid #f9804b;
  margin-top: 14px;
  margin-right: 10px;
  margin-bottom: 13px;
  background: none;
}

.footer input[type='email'] {
  width: 228px;
  height: 42px;
  border: 0.7px solid #f9804b;
  margin-right: 10px;
  background: none;
}

.footer input[placeholder='Enter your email'] {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 140%;
  color: #bdbdbd;
}

.footer__btn-submit {
  width: 129px;
  height: 42px;
  background: #f1f3f2;
  border: 1px solid #f9804b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 140%;
  color: #f9804b;
}

.footer__btn-submit:active {
  width: 129px;
  height: 42px;
  background: #f1f3f2;
  border: 1px solid #4b9200;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 140%;
  color: #4b9200;
}

.footer__btn-submit:hover, .footer__btn-submit:focus {
  opacity: 0.5;
}

.footer__block-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 25px;
}

.footer__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
}

.footer__text a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.footer__text a:active, .footer__text a:hover, .footer__text a:focus {
  cursor: pointer;
  color: #4b9200;
  text-decoration: underline;
}

.block__social-list {
  list-style-type: none;
  margin-bottom: 10px;
  height: 28px;
}

.block__social-list:last-child {
  margin-bottom: 0;
}

.block__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 25px;
  position: relative;
}

.block__nav_menu {
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
}

.block__nav_menu-item {
  list-style-type: none;
  margin-right: 58px;
}

.block__nav_menu-item:last-child {
  margin: 0;
}

.block__nav_menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.block__nav_menu-link:active, .block__nav_menu-link:hover, .block__nav_menu-link:focus {
  color: #f9804b;
}

@media (max-width: 320px) {
  .block__nav {
    display: none;
  }
}

.link-aktive {
  color: #f9804b;
  cursor: default;
  pointer-events: none;
}

@media (max-width: 640px) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__block-left {
    height: calc(100% / 3);
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 13px;
  }
  .footer__logo {
    padding-top: 0px;
    /* margin-bottom: 68px; */
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .footer__btn {
    margin-bottom: 0px;
    position: relative;
    right: 83px;
  }
  .footer__block-social {
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 70px;
    bottom: 20px;
  }
  .footer__social-link span {
    display: none;
  }
  .footer__submit {
    display: none;
  }
  .block__nav {
    top: 235px;
  }
  .block__nav_menu-item {
    margin-right: 37px;
  }
  .footer__block-center {
    height: calc(100% / 3);
    width: 100%;
  }
  .footer__block-right {
    height: calc(100% / 3);
    width: 100%;
    position: relative;
    right: 0;
  }
  .footer__block-copyright {
    position: relative;
    top: 193px;
    padding-bottom: 0;
  }
}

@media (max-width: 320px) {
  .logo-link {
    display: none;
    background: url(../images/icons/petstory-320.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  .footer__block-left {
    display: none;
  }
  .footer__block-center {
    display: none;
  }
  .footer__block-right {
    display: none;
  }
  .footer__block_sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .footer__logo_sm {
    background: url(../images/icons/petstory-320.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 128px;
    height: 23px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .footer__social_sm {
    margin-bottom: 40px;
  }
  .footer__socials_sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__submit_sm {
    text-align: center;
    margin-bottom: 40px;
  }
  .footer__donate_sm {
    margin-bottom: 40px;
  }
  .footer__disigner {
    margin-bottom: 40px;
  }
  .block__social-list {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .block__social-list:last-child {
    margin-right: 0;
  }
  .footer__input-email {
    margin: 10px 0 10px 0;
  }
  .disignit {
    margin-bottom: 13px;
  }
}

@media (min-width: 320px) {
  .block__nav_sm {
    display: none;
  }
}

.pages__404 {
  margin: 0 auto;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
