@import '_global';

.h1__title {
  overflow: hidden;
  height: 0px;
  width: 0px;
  padding: 0;
  border: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: flex-start;
  background: $bg-header;
  width: 100%;
  height: 80px;
  @media (max-width: 1000) {
    max-width: 1000px;
  }
  @media (max-width: 640) {
    max-width: 640px;
    max-height: 34px;
  }
  @media (max-width: 320) {
    max-width: 320px;
    max-height: 34px;
  }
  // .header__container
  &__container {
    display: flex;
    // justify-content: space-between;
    flex-flow: flex-start;
    width: 72.5%;
    @media (max-width: 1000px) {
      max-width: 940px;
    }
    @media (max-width: 640px) {
      max-width: 600px;
    }
    @media (max-width: 320px) {
      max-width: 300px;
    }
  }
}
.container {
  // .container__logo
  &__logo {
    top: 14px;
    margin-right: 63px;
    @media (max-width: 1000px) {
      left: 30px;
    }
    @media (max-width: 640px) {
      left: 20.07;
      top: 2.29px;
    }
    @media (max-width: 340px) {
      left: 20.07;
      top: 2.29px;
    }
  }
  // .container__nav
  &__nav {
    display: flex;
    // position: relative;
    justify-content: space-between;
    align-items: center;
    // .container__nav_menu

    &_menu {
      margin: 0;
      display: inline-flex;
      padding-left: 0;
    }

    // .container__nav_menu-item

    &_menu-item {
      list-style-type: none;
      margin-right: 58px;
      &:last-child {
        margin: 0;
      }
      @media (max-width: 1000px) {
        margin-right: 48px;
      }

      @media (max-width: 640px) {
        display: none;
      }
      @media (max-width: 320px) {
        display: none;
      }
    }

    // .container__nav_menu-link

    &_menu-link {
      @include btn2;
      line-height: 140%;
      color: $white;
      text-decoration: none;
      cursor: pointer;
      &:active,
      &:hover,
      &:focus {
        color: $orange;
      }
    }
    @media (max-width: 320px) {
      display: none;
    }
  }
}
.logo {
  width: 82px;
  height: 52px;
  background-image: url(../../assets/images/svg/logo_footer.svg);
  background-repeat: no-repeat;
  background-position: center center;
  @media (max-width: 640px) {
    width: 46.93px;
    height: 29.03px;
    background-image: url(../../assets/images/svg/logo_footer.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  @media (max-width: 320px) {
    width: 46.93px;
    height: 29.03px;
    background-image: url(../../assets/images/svg/logo_footer.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
//
//======================
// FOOTER START
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%px;
  background: #111115;
  background: $bg-fotter;
  height: 418px;
  // .footer__container

  @media (max-width: 1000px) {
    min-height: 443;
  }
  @media (max-width: 640px) {
    min-height: 282px;
  }
  @media (max-width: 320px) {
    min-height: 540px;
    max-width: 320px;
  }

  &__container {
    max-width: 1160px;
    margin: 0 auto;
    @media (max-width: 1000px) {
      max-width: 940px;
      margin: 0 auto;
    }
    @media (max-width: 640px) {
      max-width: 600px;
      margin: 0 auto;
      margin: 0 auto;
    }
    @media (max-width: 320px) {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  // .footer__block

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
  }

  // .footer__block-left

  &__block-left {
    display: flex;
    flex-direction: column;
    height: calc(100% / 3);
  }

  // .footer__logo

  &__logo {
    left: 0px;
    padding-top: 41px;
    margin-bottom: 68px;
  }

  // .footer__btn

  &__btn {
    margin-bottom: 44px;
  }

  // .footer__btn-donate

  &__btn-donate {
    @include btn_2;
  }

  // .footer__block-social

  &__block-social {
    display: flex;
    flex-direction: column;
    left: 0;
    width: 200px;
    bottom: 25px;
  }

  // .footer__social-link

  &__social-link {
    @include body;
    line-height: 140%;
    color: $white;
    text-decoration: none;
    padding-left: 40px;
    position: relative;
    &::before {
      content: '';
      // position: absolute;
      left: 0;
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background: rgba(196, 196, 196, 0.5);
    }
    &:hover,
    &:active,
    &:focus {
      color: $green;
    }
    &:hover::before,
    &:active::before,
    &:focus::before {
      color: $green;
      content: '';
      left: 0;
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background: $green;
    }
    &.facebook::before {
      content: '';
      background-image: url(../../assets/images/icons/facebook-icon.svg);
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
    }
    &.twitter::before {
      background-image: url(../../assets/images/icons/twitter-icon.svg);
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
    }
    &.instagram::before {
      background-image: url(../../assets/images/icons/instagram-icon.svg);
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
    }
    &.youtube::before {
      background-image: url(../../assets/images/icons/youtube-icon.svg);
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
    }
  }

  // .footer__social-link--bg

  // .footer__block-center

  &__block-center {
    display: flex;
    justify-content: space-between;
    width: calc(100% / 3);
    align-items: flex-end;
    // align-items: center;
    align-items: flex-end;
  }

  // .footer__block-right

  &__block-right {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    justify-content: space-between;
  }
  &__submit {
    padding-top: 40px;
  }

  &__form-email {
    width: 367px;
  }
  &__subscribe-title {
    @include subtitle;
    line-height: 120%;
    color: $white;
  }
  &__input-email {
    width: 228px;
    height: 42px;
    border: 0.7px solid #f9804b;
    margin-top: 14px;
    margin-right: 10px;
    margin-bottom: 13px;
    background: none;
  }
  input[type='email'] {
    width: 228px;
    height: 42px;
    border: 0.7px solid #f9804b;
    margin-right: 10px;
    background: none;
  }

  input[placeholder='Enter your email'] {
    @include body;
    line-height: 140%;
    color: #bdbdbd;
  }

  &__btn-submit {
    width: 129px;
    height: 42px;
    background: #f1f3f2;
    border: 1px solid #f9804b;
    box-sizing: border-box;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    @include body;
    line-height: 140%;
    color: #f9804b;
    &:active {
      width: 129px;
      height: 42px;
      background: #f1f3f2;
      border: 1px solid $green;
      box-sizing: border-box;
      border-radius: 5px;
      outline: 0;
      cursor: pointer;
      @include body;
      line-height: 140%;
      color: $green;
    }
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &__block-copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 25px;
  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 130%;
    color: $white;
    a {
      color: $white;
      cursor: pointer;
      text-decoration: none;
      &:active,
      &:hover,
      &:focus {
        cursor: pointer;
        color: $green;
        text-decoration: underline;
      }
    }
  }
}

.block {
  // .block__social-list

  &__social-list {
    list-style-type: none;
    margin-bottom: 10px;
    height: 28px;
  }
  &__social-list:last-child {
    margin-bottom: 0;
  }
}

// .container__nav
.block__nav {
  display: flex;
  // position: relative;
  justify-content: space-between;
  align-items: center;
  bottom: 25px;
  position: relative;

  &_menu {
    margin: 0;
    display: inline-flex;
    padding-left: 0;
  }

  // .container__nav_menu-item

  &_menu-item {
    list-style-type: none;
    margin-right: 58px;
    &:last-child {
      margin: 0;
    }
  }
  @media (max-width: 640px) {
    // display: none;
  }
  @media (max-width: 320px) {
    // display: none;
  }

  // .container__nav_menu-link

  &_menu-link {
    @include btn2;
    line-height: 140%;
    color: $white;
    text-decoration: none;
    cursor: pointer;
    &:active,
    &:hover,
    &:focus {
      color: $orange;
    }
  }
  @media (max-width: 320px) {
    display: none;
  }
}

.link-aktive {
  color: $orange;
  cursor: default;
  pointer-events: none;
}

@media (max-width: 1000px) {
  // .footer__block {
  //   width: 100%;
  //   max-height: 443px;
  // }
}
@media (max-width: 640px) {
  .footer__block {
    display: flex;
    flex-direction: column;
  }
  .footer__block-left {
    height: calc(100% / 3);
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 13px;
    // height: 150px;
  }
  &.footer__logo {
    // margin-bottom: 32px;
    padding-top: 0px;
    /* margin-bottom: 68px; */
    align-self: flex-start;
  }
  &.footer__btn {
    margin-bottom: 0px;
    position: relative;
    right: 83px;
  }
  &.footer__block-social {
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    width: 70px;
    bottom: 20px;
  }
  .footer__social-link {
    span {
      display: none;
    }
  }

  .footer__submit {
    display: none;
  }

  .block__nav {
    top: 235px;
  }
  .block__nav_menu-item {
    margin-right: 37px;
  }

  .footer__block-center {
    height: calc(100% / 3);
    width: 100%;
  }
  .footer__block-right {
    height: calc(100% / 3);
    width: 100%;
    position: relative;
    right: 0;
  }
  .footer__block-copyright {
    position: relative;
    top: 193px;
    padding-bottom: 0;
  }
}

@media (max-width: 320px) {
  .logo-link {
    display: none;
    background: url(../images/icons/petstory-320.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  // .footer__block {
  //   display: flex;
  //   flex-direction: column;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   align-items: stretch;
  //   height: 100%;
  // }
  .footer__block-left {
    display: none;
  }
  .footer__block-center {
    display: none;
  }
  .footer__block-right {
    display: none;
  }

  .footer {
    // .footer__block

    &__block {
      // .footer__block_sm

      &_sm {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        // align-items: stretch;
        align-items: center;
        height: 100%;
        // margin-bottom: 20px;
      }
    }

    // .footer__logo

    &__logo {
      // .footer__logo_sm

      &_sm {
        background: url(../images/icons/petstory-320.svg);
        background-position: center center;
        background-repeat: no-repeat;
        width: 128px;
        height: 23px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
    &__social_sm {
      margin-bottom: 40px;
    }
    &__socials_sm {
      flex-direction: row;
      display: flex;
    }
    // .footer__submit

    &__submit {
      // .footer__submit_sm

      &_sm {
        text-align: center;
        margin-bottom: 40px;
      }
    }

    // .footer__donate

    &__donate {
      // .footer__donate_sm

      &_sm {
        margin-bottom: 40px;
      }
    }

    // .footer__disigner

    &__disigner {
      margin-bottom: 40px;
    }

    // .footer__menu

    &__menu {
      // .footer__menu_sm

      &_sm {
      }
    }
  }

  .block__social-list {
    margin-bottom: 0;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  .footer__input-email {
    margin: 10px 0 10px 0;
  }
  .disignit {
    margin-bottom: 13px;
  }
  .block__nav_sm {
  }
}
@media (min-width: 320px) {
  .block__nav_sm {
    display: none;
  }
}
