@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import '_reset';

// colors
$header: #000000;
$green: #4b9200;
$orang: #f9804b;
$ellow: #ffee2e;
$orange-grad: linear-gradient(
    315.75deg,
    rgba(254, 210, 144, 0.7) 30.06%,
    #febdab 100.95%,
    rgba(254, 210, 144, 0.7) 106.36%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
$pink-gradient: linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
$red: #d31414;
$black-blue: #333b41;
$gray: #767474;
$gray-smoky: #ababab;
$light_gray: #f1f3f2;
$f-glassw-white: #fdfdff;

body {
  font-family: 'Roboto', sans-serif;
  font-style: 16px;
}
// ======WRAPER====== //
.wrapper {
  max-width: 1600px;
  height: 1000px;
  background: $gray-smoky;
  margin: 0 auto;
  @media (max-width: 1000px) {
    max-width: 1000px;
  }
  @media (max-width: 640px) {
    max-width: 640px;
  }
  @media (max-width: 320px) {
    max-width: 320px;
  }
}
// ======WRAPER====== //

// ======CONTAINER====== //
.container {
  max-width: 1160px;
  width: 100%;
  // background: $light_gray;
  margin: 0 auto;
  @media (max-width: 1000px) {
    max-width: 940px;
  }
  @media (max-width: 640px) {
    max-width: 600px;
  }
  @media (max-width: 320px) {
    max-width: 300px;
  }
}
// ======CONTAINER====== //

// ======LOGO====== //
.logo {
  width: 82px;
  height: 52px;
  background-image: url(../images/icons/logo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  // .logo__link
  &__link {
    cursor: pointer;
  }
}
// ======LOGO====== //
