// @import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'mixin';
@import 'normalize';
@import 'style';
@import 'cam_gorilla_online';

// .wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   width: 1161px;
//   height: 100%;
//   margin: 0 auto;
//   position: relative;
//   // margin-left: 0;
// }

// $bg-header: #000000;
// $bg-fotter: #111115;
// // $bg: #e5e5e5;
// $bg: #ffffff;
// $yellow: #ffee2e;
// $green: #4b9200;
// $black_blue: #333b41;
// $white: #fff;

body {
  max-width: 1600px;
  background-color: $bg;
  margin: 0 auto;
}

// .wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   width: 1161px;
//   height: 100%;
//   margin: 0 auto;
//   position: relative;
//   margin-left: 0;
// }

// //header start
// .header {
//   max-width: 1600px;
//   height: 80px;
//   display: flex;
//   background: $bg-header;
//   backdrop-filter: blur(4px);
// }

// .h1__title {
//   overflow: hidden;
//   height: 0px;
//   width: 0px;
//   padding: 0;
//   border: 0;
// }

// .header__logo {
//   position: absolute;
//   left: 220px;
//   top: 14px;
// }

// .logo {
//   width: 82px;
//   height: 52px;
// }

// .header__nav {
//   position: absolute;
//   display: flex;
//   flex-wrap: wrap;
//   height: 22px;
//   left: 365px;
//   top: 29px;
// }

// .header__list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: 0;
//   padding: 0;
// }

// .nav__active {
//   pointer-events: none;
//   cursor: default;
//   background: linear-gradient(
//     to left,
//     rgba(249, 128, 75, 1),
//     rgba(254, 144, 19, 1)
//   );
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .header__item {
//   @include btn;
//   line-height: 140%;
//   list-style-type: none;
//   margin-right: 58px;
//   a {
//     @include btn;
//     line-height: 140%;
//     color: #ffffff;
//     text-decoration: none;
//     &:active {
//       @include btn;
//       line-height: 140%;
//       background: linear-gradient(
//         to left,
//         rgba(249, 128, 75, 1),
//         rgba(254, 144, 19, 1)
//       );
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       // pointer-events: none;
//     }
//     &:hover,
//     &:focus {
//       opacity: 0.75;
//       cursor: pointer;
//     }
//   }
//   &:last-child {
//     margin-right: 0;
//   }
// }

// //header end

// section Animal Camera start
.section__animal-camera {
  display: flex;
  position: relative;
  width: 100%;
  height: 1054px;
  margin: 0 auto;
}

//Sidebar start
.sidebar {
  // position: relative;
  width: 100px;
  height: 652px;
  margin: 112px 88px 0 31px;
  position: sticky;
  top: 30px;
  bottom: 10px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  border-radius: 5px;
}

.sidebar_icons {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.sidebar__icon {
  position: relative;
  width: 76px;
  height: 76px;
  margin-bottom: 10px;
  border-radius: 50%;
  background: $bg-sidebar-icon;
  border: 2px solid rgba(249, 128, 75, 1);
  list-style-type: none;
  cursor: pointer;
  &:active,
  &:hover,
  &:focus {
    border: 2px solid $green;
  }
}

.sidebar__icon_activ {
  position: relative;
  width: 76px;
  height: 76px;
  margin-bottom: 10px;
  border-radius: 50%;
  background: $bg-sidebar-icon;
  border: 2px solid $green;
  list-style-type: none;
  cursor: default;
  pointer-events: none;
}

.icon_gorilla {
  position: absolute;
  width: 55px;
  height: 47px;
  left: 13px;
  top: 16px;
  background: url(../../assets/images/icons/sidebar_gorilla_icon.svg) no-repeat
    center;
  z-index: 1;
  &:active,
  &:hover,
  &:focus {
    position: absolute;
    width: 55px;
    height: 47px;
    left: 13px;
    top: 16px;
    background: url(../../assets/images/icons/sidebar_gorilla_icon_a.svg)
      no-repeat center;
    z-index: 1;
  }
}

.icon_alligator {
  position: absolute;
  width: 64px;
  height: 30px;
  left: 8px;
  top: 25px;
  background: url(../../assets/images/icons/sidebar_alligator_icon.svg)
    no-repeat center;
  z-index: 1;
  &:active,
  &:hover,
  &:focus {
    position: absolute;
    width: 64px;
    height: 30px;
    left: 8px;
    top: 25px;
    background: url(../../assets/images/icons/sidebar_alligator_icon_a.svg)
      no-repeat center;
    z-index: 1;
  }
}

.icon_panda {
  position: absolute;
  width: 58px;
  height: 42px;
  left: 7px;
  top: 19px;
  // background: url(/assets/images/icons/sidebar_panda_icon.svg) no-repeat center;
  z-index: 1;
}

.icon__activ {
  position: absolute;
  width: 58px;
  height: 42px;
  left: 7px;
  top: 19px;
  fill: $green;
  color: $green;
  cursor: default;
  // background-color: $green;
}

.icon_eagle {
  position: absolute;
  width: 54px;
  height: 48px;
  left: 13px;
  top: 16px;
  background: url(../../assets/images/icons/sidebar_eagle_icon.svg) no-repeat
    center;
  z-index: 1;
  &:active,
  &:hover,
  &:focus {
    position: absolute;
    width: 54px;
    height: 48px;
    left: 13px;
    top: 16px;
    background: url(../../assets/images/icons/sidebar_eagle_icon_a.svg)
      no-repeat center;
    z-index: 1;
  }
}

.icon_sloth {
  position: absolute;
  width: 54px;
  height: 48px;
  left: 13px;
  top: 16px;
  background: url(../../assets/images/icons/sidebar_sloth_icon.svg) no-repeat
    center;
  z-index: 1;
  &:active,
  &:hover,
  &:focus {
    position: absolute;
    width: 54px;
    height: 48px;
    left: 13px;
    top: 16px;
    background: url(../../assets/images/icons/sidebar_sloth_icon_a.svg)
      no-repeat center;
    z-index: 1;
  }
}

.icon_penguin {
  position: absolute;
  width: 32px;
  height: 58.5px;
  left: 24px;
  top: 11px;
  background: url(../../assets/images/icons/sidebar_penguin_icon.svg) no-repeat
    center;
  z-index: 1;
  &:active,
  &:hover,
  &:focus {
    position: absolute;
    width: 32px;
    height: 58.5px;
    left: 24px;
    top: 11px;
    background: url(../../assets/images/icons/sidebar_penguin_icon_a.svg)
      no-repeat center;
    z-index: 1;
  }
}

.down_arrow {
  position: absolute;
  width: 62px;
  height: 62px;
  left: 7px;
  top: 7px;
  background: url(../../assets/images/icons/arrow_elips_2_down.svg) no-repeat
    center;
  z-index: 1;
  &:active,
  &:hover,
  &:focus {
    position: absolute;
    width: 62px;
    height: 62px;
    left: 7px;
    top: 7px;
    background: url(../../assets/images/icons/arrow_elips_2_down_a.svg)
      no-repeat center;
    z-index: 1;
  }
}

.sidebar__icon:last-child {
  margin-bottom: 0;
}

.active {
  pointer-events: none;
  cursor: default;
}

//sidebar end

// wrapper__youtube start
.wrapper__youtube {
  margin-bottom: 140px;
}

.block__youtube-camera {
  display: flex;
  position: relative;
  width: 100%;
}

.title__camera {
  display: flex;
  position: absolute;
  margin-bottom: 10px;
}

.title__animal-camera {
  @include h2;
  line-height: 120%;
  color: $black_blue;
  position: absolute;
  width: 668px;
  height: 62px;
  // left: calc(50% - 668px / 2 - 195.5px);
  top: 0px;
}

.block__youtube {
  display: flex;
  position: absolute;
  width: 1162px;
  height: 652px;
  left: 0;
  top: 112px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

//Block camera live start

.block__camera_live {
  height: 210px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 804px;
}

.camera_live {
  position: relative;
  max-width: 268px;
  max-height: 210px;
  margin-right: 30px;
  z-index: -1;
  &:focus,
  &:hover,
  &:active {
    cursor: pointer;
  }
  &:last-child {
    margin-right: 0;
  }
}

.camera_live_z {
  width: 268px;
  height: 210px;
  top: 0;
  left: 0;
  position: absolute;
  background: #333b41;
  z-index: 1;
}

.camera_live_z-bg {
  width: 55px;
  height: 24px;
  left: 9px;
  top: 9px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.camera_live_z-text {
  left: 20px;
  top: 10px;
  @include body;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.cam__btn_l {
  display: flex;
  align-items: center;
  position: absolute;
  align-self: center;
  left: -75px;
  /* top: 356px; */
}

.cam__btn_r {
  display: flex;
  align-items: center;
  position: absolute;
  align-self: center;
  right: -55px;
  // top: 356px;
}

.pets__button_l {
  width: 62px;
  height: 62px;
  background: url(../../assets/images/svg/button-pets-l-def.svg) no-repeat
    center;
  &:active {
    width: 62px;
    height: 62px;
    background: url(../../assets/images/svg/button-pets-l-activ.svg) no-repeat
      center;
  }
  &:hover {
    cursor: pointer;
  }
}

.pets__button_r {
  width: 62px;
  height: 62px;
  background: url(../../assets/images/svg/button-pets-r-def.svg) no-repeat
    center;
  &:active {
    width: 62px;
    height: 62px;
    background: url(../../assets/images/svg/button-pets-r-activ.svg) no-repeat
      center;
  }
  &:hover {
    cursor: pointer;
  }
}

//Block camera live start
// wrapper__youtube end

// section animals start

.animals {
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin-bottom: 180px;

  flex-direction: column;
  position: relative;
}

.title__animals {
  @include h2;
  font-weight: 500;
  line-height: 120%;
  color: #4b9200;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.animal_preview {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.animal_photo {
  display: flex;
  position: relative;
  width: 422px;
  height: 421px;
  margin-right: 70px;
}

.block__preview {
  display: flex;
  width: 668px;
  height: 421px;
  flex-direction: column;
}

.preview {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: #ababab;
  margin-bottom: 41px;
  .green {
    color: #4b9200;
  }
  .orange {
    color: $orange;
  }
  a {
    color: $orange;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      color: $green;
    }
  }
}

.btn2__preview {
  // display: flex;
  align-items: flex-start;
}

// section animals end

// section Animal Camera end

// //foffter start
// .footer {
//   // display: flex;
//   height: 443px;
//   position: relative;
//   background: $bg-fotter;
// }

// .footer__columns {
//   display: flex;
//   justify-content: space-between;
//   position: relative;
//   width: 100%;
// }

// .footer__colum_1 {
//   max-width: 386.6px;
//   height: 100%;
//   display: flex;
//   position: relative;
//   flex-direction: column;
// }

// // удалить
// // .block_colum {
// //   display: flex;
// // }

// .footer__logo {
//   width: 82px;
//   height: 52px;
//   display: block;
//   padding-top: 41px;
//   left: 0;
//   top: 41px;
//   margin-bottom: 68px;
// }

// .footer__btn {
//   position: relative;
//   margin-bottom: 44px;
// }

// .btn_2_donate {
//   @include btn_2;
//   line-height: 140%;
//   text-align: center;
//   text-transform: uppercase;
//   color: #ffffff;
// }

// .footer__icons {
//   // background: $green;
//   width: 100%;
// }

// .soc__icons {
//   display: flex;
//   flex-direction: column;
//   list-style-type: none;
// }

// .soc__item {
//   position: relative;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// .soc-fon {
//   @include body;
//   line-height: 140%;
//   color: #fff;
//   text-decoration: none;
// }

// .soc-link {
//   margin-bottom: 7px;
//   margin-right: 21px;
//   display: flex;
//   width: 26px;
//   height: 26px;
//   border-radius: 26px;
//   background: rgba(196, 196, 196, 0.5);
//   cursor: pointer;
//   &:hover {
//     background: $green;
//   }
// }

.fb {
  color: $white;
  background-image: url('../../assets/images/icons/facebook-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  &:hover {
    color: $white;
    background-image: url('../../assets/images/icons/facebook-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
  }
}

.tw {
  color: $white;
  background-image: url('../../assets/images/icons/twitter-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  &:hover {
    color: $white;
    background-image: url('../../assets/images/icons/twitter-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }
}

.inst {
  color: $white;
  background-image: url('../../assets/images/icons/instagram-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  &:hover {
    color: $white;
    background-image: url('../../assets/images/icons/instagram-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }
}

.you {
  color: $white;
  background-image: url('../../assets/images/icons/youtube-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  &:hover {
    color: $white;
    background-image: url('../../assets/images/icons/youtube-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }
}

hr {
  // position: absolute;
  width: 100%;
  height: 1px;
  background: #767474;
  margin-bottom: 48px;
}

.animal__content {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  flex-direction: column;
  /* align-content: flex-start; */
  position: relative;
  /* align-items: flex-end;*/
  p {
    margin-top: 0;
  }
}

.animal__content_text {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-end;
  // align-items: center;
  margin-bottom: 25px;
}
.animal__content_text:last-child {
  margin-bottom: 30px;
}

.subtitle__content {
  @include subtitle;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-right: 10px;
  // margin-bottom: 25px;
  display: inline;
}

.subtitle__full_content {
  @include subtitle;
  line-height: 120%;
  color: #000000;
  margin: 0;
  // margin-right: 10px;
  margin-bottom: 10px;
  display: inline;
}

.descriptor__content {
  @include body;
  line-height: 140%;
  color: #000000;
  margin: 0;
  // margin-bottom: 20px;
}

.full-descriptor__content {
  @include body;
  line-height: 140%;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}
.full-descriptor__content:last-child {
  margin-bottom: 30px;
}

.animal__content_link {
  @include body;
  line-height: 140%;
  text-decoration: none;
  color: $green;
  &:active,
  &:hover,
  &:focus {
    color: $orange;
  }
}

.read_less {
  width: 129px;
  height: 42px;
  background: #f1f3f2;
  border: 1px solid #333b41;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
  &:active {
    background: $green;
    border: 1px solid $green;
  }
}
.footer__block_donate {
  width: 100%;
  height: 390px;

  display: flex;
  position: relative;
}

.footer__img_panda {
  background-image: url(../../assets/images/donet.jpg);
}

.btn__donate {
  @include btn_1;
  left: calc(50% - 298px / 2);
  top: 276px;
  position: relative;
  line-height: 140%;

  @include btn;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

// // .soc_icon {
// //   margin-bottom: 7px;
// //   margin-right: 21px;
// //   display: -webkit-box;
// //   display: -ms-flexbox;
// //   display: flex;
// //   width: 26px;
// //   height: 26px;
// //   border-radius: 26px;
// //   background: rgba(196, 196, 196, 0.5);
// //   cursor: pointer;
// // }
// .soc__name {
//   position: absolute;
//   margin-left: 38px;
//   display: flex;
//   align-items: center;
//   margin-top: 2px;
//   &:hover {
//     color: $green;
//   }
// }

// .footer__colum_2 {
//   width: 386.6px;
//   height: 100%;
//   display: flex;
//   justify-content: space-between;
// }
// .footer__nav {
//   display: flex;
//   position: absolute;
//   bottom: 50px;
// }

// .footer__nav_items {
//   display: flex;
//   justify-content: space-between;
// }

// .footer__nav_item {
//   display: flex;
//   list-style-type: none;
//   margin-right: 58px;
//   // @include body;
//   // line-height: 140%;
//   a {
//     text-decoration: none;
//     color: #ffffff;
//     @include body;
//     line-height: 140%;
//     // .footer__nav_item-link {
//     // }
//     &:active {
//       @include body;
//       line-height: 140%;
//       background: linear-gradient(
//         to left,
//         rgba(249, 128, 75, 1),
//         rgba(254, 144, 19, 1)
//       );
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       // pointer-events: none;
//     }
//     &:hover,
//     &:focus {
//       cursor: pointer;
//       opacity: 0.75;
//     }
//   }
// }
// .footer__nav_item:last-child {
//   margin-right: 0;
// }

// .footer__colum_3 {
//   max-width: 386.6px;
//   height: 100%;
//   display: flex;
//   position: relative;
//   flex-direction: column;
// }

// .subscribe_title {
//   @include subtitle;
//   line-height: 120%;
//   color: #ffffff;
//   margin-bottom: 10px;
// }

// .input_email {
//   width: 228px;
//   height: 42px;
//   border: 0.7px solid #f9804b;
//   margin-right: 10px;
//   background: none;
// }

// input[type='email'] {
//   width: 228px;
//   height: 42px;
//   border: 0.7px solid #f9804b;
//   margin-right: 10px;
//   background: none;
// }

// input[placeholder='Enter your email'] {
//   @include body;
//   line-height: 140%;
//   color: #bdbdbd;
// }

// .btn__email_submit {
//   width: 129px;
//   height: 42px;
//   background: #f1f3f2;
//   border: 1px solid $green;
//   box-sizing: border-box;
//   border-radius: 5px;
// }

// .btn__email_submit {
//   @include body;
//   line-height: 140%;
//   color: $green;
// }

// .block__copy {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   bottom: 50px;
//   right: 0;
// }

// .copy_text {
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 200;
//   font-size: 16px;
//   line-height: 130%;
//   color: #ffffff;
//   a {
//     color: #ffffff;
//     cursor: pointer;
//     text-decoration: none;
//     &:active {
//       cursor: pointer;
//       color: $green;
//       text-decoration: underline;
//     }
//     &:hover,
//     &:focus {
//       text-decoration: underline;
//       cursor: pointer;
//     }
//   }
// }
