@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'mixin';
@import 'normalize';
@import 'style';
@import 'cam_gorilla_online';

.wrapp__donat {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1600px;

  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.panda-bg {
  display: flex;
  position: relative;
  width: 1600px;
  height: 390px;
  background: url(../../assets/images/donate-panda-bg.png) no-repeat center;
}

.block__donate {
  display: flex;
  position: relative;
  height: 1482px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.donat__info {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  flex-direction: column;
}

.donate__previw {
  display: flex;
  flex-direction: column;
  position: relative;
}

.donate__title {
  display: flex;
  position: relative;
  @include h3;
  line-height: 130%;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.donate__description {
  position: relative;
  display: flex;
  @include btn;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 40px;
}

.donation__information {
  @include h3;
  line-height: 130%;
  color: #fe9013;
}

.block__pick-feed {
  position: relative;
  display: flex;
  width: 100%;
  height: 964px;
  // left: 220px;
  // right: 220px;
  // top: 804px;

  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
}

.wrapp__pick-feed {
  display: flex;
  height: 976;
  margin: 0 auto;
  flex-direction: column;
}

.block__title_pick-feed {
  @include h2;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
  margin-bottom: 20px;
}

.subtitle__pick-feed {
  @include subtitle;
  line-height: 120%;
  color: #333b41;
  margin: 0;
}
