@import '_global';

// ======================
// HEADER START
header {
  height: 80px;
  background-color: $header;
}
.header {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  // .header__logo

  &__logo {
    left: 0;
  }

  // .header__nav

  &__nav {
    // .header__nav_menu

    &_menu {
    }
  }
}

.header {
  // .header__logo

  &__logo {
    margin-right: 63px;
  }

  // .header__nav

  &__nav {
    // .header__nav_menu

    &_menu {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      flex-direction: row;
    }
  }
}

.nav {
  // .nav__menu

  &__menu {
    // .nav__menu_item

    &_item {
    }

    // .nav__menu_item-link

    &_item-link {
    }
  }
}

// HEADER END
// ======================
